@model Proyecto.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CedulaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizaciones.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizaciones.Longitud)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
